{{#if isEditing}}
  {{partial 'posts/form'}}
  <button {{action 'save'}}>Save</button>
{{else}}
  <h2>{{title}}</h2>
  <p>{{text}}</p>
  <button {{action 'edit'}}>Edit</button>

  <hr />

  {{#each comments}}
    <p>
      <strong>{{commenter}}</strong>:
      {{body}}
    </p>
  {{/each}}

  <div>
    <label>Your Name:</label>
    {{input valueBinding="yourName"}}
  </div>

  <div>
    <label>Comment:</label>
    {{textarea valueBinding="yourComment"}}
  </div>

  <button {{action 'addComment'}}>Add Comment</button>
{{/if}}

